body {
  background-color: #353434;
  color: #FFFFFF;
  padding: 2rem;
  text-align: center;
}
.title {
  margin-bottom: 6vh;
  margin-top: 10vh;
}

.cajas {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.caja{
  margin-bottom: 2vh;
}
.colab-box-BIG {
  position: relative;  /* esta línea es clave para que los hijos absolute se posicionen dentro */
  background-color: #000000;
  border-radius: 5px;
  padding: 1rem;
  width: 280px;
  height: 280px;
  overflow: hidden;
  margin: 5px;
}
.borde-extra{
  border: 4px solid #ffffff;
  border-radius: 5px;
  margin: 5px;
  width: fit-content;
}
.icon-layer-BIG {
  position: relative; /* crucial for children with position:absolute */
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.icon-item-BIG {
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.subtitulo {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.guia {
  margin: 15vh 0vw;
  text-align: left;
}
.leyenda-titulo {
  margin-bottom: 6vh;
  text-align: center;
}
.leyenda1, .leyenda2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 1rem;
  align-items: center;
  text-align: left;
  margin-bottom: 3rem;
}
.leyenda1 div, .leyenda2 div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.borde-leyenda {
  width: 2vw;
  height: 2vw;
}
span {
  font-size: 1rem;
}
.leyenda-subtitulo {
  font-size: 1.5rem;
  margin-bottom: 0.1vh;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;
  font-size: 0.9rem;
}
.footer {
  margin-top: 4rem;
  padding: 1rem;
  background-color: #f1f1f1;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.1rem;
}
  
.footer a {
  color: #333;
  text-decoration: none;
  margin: 0 0.5rem;
  font-size: 20px;
}

.footer-content p{
  font-size: 30px;
}
  
.footer a:hover {
  text-decoration: underline;
}


.colab-box-BIG-Mora {
  position: relative;  /* esta línea es clave para que los hijos absolute se posicionen dentro */
  background-color: black;
  margin: 0;
    border: 4px solid #7dd3fc;
  border-radius: 2px;
  padding: 1rem;
  width: 280px;
  height: 280px;
  overflow: hidden;
}


.nombre_fecha{
  display: flex;
  flex-direction: column;
  margin-top: 1.5vh;
  align-content: center;
}
.nombre_fecha p {
  margin: 0;
}